*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centratura{
  padding: 0 15%;
}
.colore1{
  color: rgb(26, 38, 79);
}

/* NAVBAR FISSA */

.nav-fissa{
  overflow: hidden;
  background-color: #f5f8fa;
  position: fixed;
  top: 0;
  width: 100%;
  color: rgb(11, 13, 37);
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid rgb(26, 38, 79);
}

.nav-fissa a{
  text-decoration: none;
  color: inherit;
}

.nav-fissa-col2 i{
  color: rgb(18, 205, 255);
}

.nav-fissa-col1{
  float: left;
}

.nav-fissa-col2 {
  float: right;
}

.nav-button2 a{
  background-color: #ff7a59;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 10px;
}

.nav-button2 a:hover{
  background: #ffd8b5;
}

.nav-button1 a{
  background-color: white;
  border: 1px solid orange;
  color: #ff7a59;
  padding: 15px 12px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 20px;
}

.nav-button1 a:hover{
  background: #ffd8b5;
}

/* NAVBAR HEADER */

.h-nav{
  width: 100%;
  margin-top: 80px;
  line-height: 80px;
  height: 80px;
}

.h-nav-col1{
  width: 55%;
  float: left;
  height: 50px;
}

.h-nav-col2{
  width: 45%;
  float: left;
  height: 50px;
}

.h-nav-col2 a{
  color: inherit;
  text-decoration: none;
}

.h-nav-col2 li{
  float: left;
  margin-left: 45px;
  list-style: none;
}

/* HEADER */

header{
  background-image: url(../img/jumbotron.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
}

header h1{
  font-size: 45px;
}

header a{
  background-color: #ff7a59;
  display: inline-block;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  margin:13px 0;
}

header a:hover{
  background: #ffd8b5;
}

header p{
  font-size: 20px;
  margin: 30px 0;
}

.h-box{
  width: 55%;
  padding-top: 50px;
  height: 500px;
}

/* PRIMO CONTAINER */

.container1{
  background-color: #f5f8fa;
  width: 100%;
  height: 1790px;
}
/* TITOLO */
.c1-header{
  text-align: center;
  width: 50%;
  margin: 0 25%;
  padding-top: 100px;
}

.c1-header h2{
  margin: 20px 0;
  font-size: 35px;
}

.container1 li{
  list-style: none;
}
/* PRIMA RIGA */
.c1-row1{
  background-color: white;
  float: left;
  width: 100%;
  height: 260px;
  padding: 40px 120px;
  margin: 60px 0;
  border-radius: 15px;
  box-shadow: 0px 0px 4px 1px rgba(48,71,74,0.26);
}
/* COLONNA 1 */
.c1-row1-col1{
  float: left;
  width: 20%;
  height: auto;
  margin-right: 5%;
}

.c1-row1-imgresizer{
  width: 60%;
  height: auto;
  margin-bottom: 30px;
  margin-left: 20px;
}

.c1-row1-col1 a{
  background-color: #ff7a59;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 20px;
}

.c1-row1-col1 a:hover{
  background: #ffd8b5;
}
/* COLONNA 2 */
.c1-row1-col2{
  float: left;
  width: 75%;
  height: auto;
}

.c1-row1-col2 p{
  margin: 20px 0;
}

.c1-row1-col2 h3{
  font-size: 22px;
}

.c1-row1-col2 h4{
  float: left;
}

.c1-row1-col2 hr{
  float: right;
  margin-top: 8px;
  width: 75%;
}

.c1-row1-col2 ul{
  float: left;
  width: 100%;
}

.c1-row1-col2 li{
  display: inline-block;
  margin-top: 25px;
  margin-right: 40px;
}

.fa-check-circle{
  color: rgb(255, 138, 0);
}
/* SECONDA RIGA */
.c1-row2{
  float: left;
  width: 100%;
  height: auto;
  margin-bottom: 60px;
}

.c1-row2::after{
  content: "";
  display: table;
  clear: both;
}

.c1-row2-col1, .c1-row2-col2, .c1-row2-col3{
  float: left;
  width: 28%;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 1px rgba(48,71,74,0.26);
}

.row2-col2-icon{
  width: 30%;
  height: auto;
  margin: 25px 35%;
}

.row2-col3-icon, .row2-col1-icon{
  width: 25%;
  height: auto;
  margin: 20px 37.5%;
}

.c1-row2 h3{
  font-size: 30px;
}

.c1-row2 h4{
  font-size: 20px;
  margin: 30px 0;
}

.c1-row2  p{
  margin: 10%;
}

.c1-row2 hr{
  width: 80%;
  margin-left: 10%;
}

.c1-row2 li{
  float: left;
  text-align: left;
  width: 80%;
  margin: 0 10%;
}

.c1-row2 a{
  text-align: center;
  float:left;
  display: inline-block;
  background-color: #ff7a59;
  border: none;
  color: white;
  padding: 19px 45px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 45%;
  border-radius: 10px;
  margin: 10% 27.5% 8% 27.5%;
}

.c1-row2 a:hover{
  background: #ffd8b5;
}

.c1-row2-col2{
  margin: 0 8%;
}

/* SECONDO CONTAINER */

.container2{
  background-color: rgb(0, 198, 200);
  width: 100%;
  height: 840px;
  color: white;
}

.c2-header{
  text-align: center;
  padding-top: 60px;
}

.c2-header h3{
  font-size: 44px;
}

.c2-header p{
  font-size: 20px;
  padding: 40px 0;
  margin-bottom: 30px;
}
/* PRIMA RIGA */
.c2-row2, .c2-row3{
  float: left;
  width: 100%;
  text-align: center;
}

div [class^="c2-row2-col"]{
  float: left;
  width: calc(100%/4);
  height: 200px;
  border-bottom: 2px solid white;
}

div [class^="c2-row3-col"]{
  padding-top: 45px;
  float: left;
  width: calc(100%/4);
}

.c2-row2, .c2-row3::after{
  content: none;
  display: table;
  clear:both;
}

.c2-number{
  font-size: 50px;
  margin: 15px 0;
}

.c2-row2 > div:not(:first-child), .c2-row3 > div:not(:first-child) {
  border-left: 2px solid white;
}

/* TERZO CONTAINER*/

.container3{
  height: 735px;
}
/* PRIMA RIGA */
.c3-row1{
  margin: 60px;
  float: left;
  width: 100%;
}

.c3-row1:after{
  content: none;
  display: table;
  clear:both;
}
/* COLONNA 1 */
.c3-row1-col1{
  float: left;
  width: 30%;
  padding-left: 60px;
}

.c3-row1-col1 h3{
  font-size: 50px;
}

.c3-row1-col1 p{
  margin-top: 20px;
  font-size: 20px;
}
/* COLONNA 2 */
.c3-row1-col2{
  float: left;
  width: 70%;
  text-align: center;
}

.c3-row1-col2 li{
  list-style: none;
  display: inline-block;
  margin: 20px 25px;
}

.c3-logo{
  width: 100px;
  height: 30px;
}
/* SECONDA RIGA */
.c3-row2{
  float: left;
}

.c3-row2::after{
  content: "";
  display: table;
  clear:both;
}
/* COLONNA 1 */
.c3-row2-col1{
  float: left;
  width: 42%;
  padding-top:30px;
}

.c3-row2-col1 h3{
  font-size: 40px;
}

.c3-row2-col1 p{
  font-size: 20px;
  margin: 56px 0;
}

.c3-row2-col1 a{
  background-color: #ff7a59;
  border: none;
  color: white;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}

.c3-row2-col1 a:hover{
  background: #ffd8b5;
}

/* COLONNA 2 */
.c3-row2-col2{
  float: left;
  width: 55%;
  text-align: right;
  height: 300px;
}

.c3-row2-col2 img{
  width: 45%;
  height: auto;
}

/* FOOTER */

footer{
  background-color: #33475b;
  width:100%;
  height: 700px;
  color: #cbd6e2;
}

footer li{
  list-style: none;
}

footer a{
  text-decoration: none;
  color: inherit;
  font-size: 20px;
}

footer a:hover{
  color: rgb(70, 180, 207);
}

/* PRIMA RIGA */
.f-row1{
  float: left;
  width: 100%;
}

.f-row1::after{
  content: "";
  display: table;
  clear:both;
}

.f-row1 h5{
  margin: 55px 0 35px 0;
  font-size: 22px;
  color: white;
}

.f-row1 li{
  margin-bottom: 20px;
}

.f-row1-col1, .f-row1-col2, .f-row1-col3, .f-row1-col4{
  float: left;
  width: calc(100%/4);
}

.f-row1-col4 > a{
  display: inline-block;
  background-color: #cbd6e2;
  border: none;
  color: #33475b;
  padding: 15px 12px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 0;
}

.f-row1-col4 > a:hover{
  color: #33475b;
}

.f-row1 i{
  margin: 13px;
}
/* SECONDA RIGA */
.f-row2{
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 60px;
}

.f-row2 li{
  display: inline-block;
  margin: 20px 10px;
  font-size: 20px;
}
/* TERZA RIGA */
.f-row3{
  float: left;
  width: 100%;
  margin-top: 40px;
}

.f-row3-col1{
  float: left;
  width: 50%;
}

.copyright{
  color: white;
}

.f-row3-col2{
  text-align: right;
  float: right;
  width: 50%;
}

.f-row3-col2 a{
  margin-left:25px;
}
